node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.DS_Store
thumbs.db

# Cucumber
cucumber-report/
all-cucumber-reports/
traces/
dist/
# Ignore root level reports but keep source files
/*.json
/*.html
!package.json
!package-lock.json
!cucumber.js
!tsconfig.json
